openapi: 3.0.1
info:
  title: De Lijn Kern Open Data Services
  description: ''
  version: ''
servers:
  - url: https://api.delijn.be/DLKernOpenData/v1/beta
paths:
  /entiteiten:
    get:
      summary: geefEntiteiten
      operationId: 59783241e8b4390130ffe002
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entiteiten'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json: { }
  '/entiteiten/{entiteitnummer}':
    get:
      summary: geefEntiteit
      operationId: 59783241e8b4390130ffe003
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entiteit'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json: { }
  '/entiteiten/{entiteitnummer}/gemeenten':
    get:
      summary: geefGemeentenVoorEntiteit
      operationId: 59783241e8b4390130ffe004
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gemeenten'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json: { }
  '/entiteiten/{entiteitnummer}/haltes':
    get:
      summary: geefHaltesVoorEntiteit
      operationId: 59783241e8b4390130ffe005
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Haltes'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json: { }
  '/entiteiten/{entiteitnummer}/lijnen':
    get:
      summary: geefLijnenVoorEntiteit
      operationId: 59783241e8b4390130ffe006
      parameters:
        - name: entiteitnummer
          in: path
          description: nummer van de entiteit
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lijnen'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json: { }
  /gemeenten:
    get:
      summary: geefGemeenten
      operationId: 59783241e8b4390130ffe007
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gemeenten'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json: { }
  '/gemeenten/{gemeenteNummer}':
    get:
      summary: geefGemeente
      operationId: 59783241e8b4390130ffe008
      parameters:
        - name: gemeenteNummer
          in: path
          description: Format - int32. nummer van de gemeente
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gemeente'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json: { }
  '/gemeenten/{gemeenteNummer}/haltes':
    get:
      summary: geefHaltesVoorGemeente
      operationId: 59783241e8b4390130ffe009
      parameters:
        - name: gemeenteNummer
          in: path
          description: Format - int32. nummer van de gemeente
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Haltes'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json: { }
  '/gemeenten/{gemeenteNummer}/lijnen':
    get:
      summary: geeLijnenVoorGemeente
      operationId: 59783241e8b4390130ffe00a
      parameters:
        - name: gemeenteNummer
          in: path
          description: Format - int32. nummer van de gemeente
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lijnen'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json: { }
  /haltes:
    get:
      summary: geefHaltes
      operationId: 59783241e8b4390130ffe00b
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Haltes'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/haltes/indebuurt/{latlng}':
    get:
      summary: geefHaltesIndebuurt
      operationId: 59783241e8b4390130ffe00c
      parameters:
        - name: latlng
          in: path
          description: 'latitude en longitude gescheiden door komma bv, 51.056064,3.797336'
          required: true
          schema:
            type: string
        - name: radius
          in: query
          description: Format - int32. de radius in meters binnen de welke naar haltes gezocht wordt
          schema:
            type: integer
            default: 750
        - name: maxAantalHaltes
          in: query
          description: Format - int32. het maximaal aantal haltes die van de operatie verwacht wordt
          schema:
            type: integer
            default: 999
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Punten'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/haltes/{entiteitnummer}/{haltenummer}':
    get:
      summary: geefHalte
      operationId: 59783241e8b4390130ffe00d
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
        - name: haltenummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Halte'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/haltes/{entiteitnummer}/{haltenummer}/dienstregelingen':
    get:
      summary: geefDienstregelingVoorHalte
      operationId: 59783241e8b4390130ffe00e
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
        - name: haltenummer
          in: path
          description: Format - int32. nummer van de halte
          required: true
          schema:
            type: integer
        - name: datum
          in: query
          description: datum in formaat yyyy-MM-dd met als default waarde de huidige datum
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Ritten'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/haltes/{entiteitnummer}/{haltenummer}/lijnrichtingen':
    get:
      summary: geefLijnrichtingenVoorHalte
      operationId: 59783241e8b4390130ffe00f
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
        - name: haltenummer
          in: path
          description: Format - int32. nummer van de halte
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Lijnrichtingen'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/haltes/{entiteitnummer}/{haltenummer}/omleidingen':
    get:
      summary: geefOmleidingenVoorHalte
      operationId: 59783241e8b4390130ffe010
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
        - name: haltenummer
          in: path
          description: Format - int32. nummer van de halte
          required: true
          schema:
            type: integer
        - name: datum
          in: query
          description: datum in formaat yyyy-MM-dd met als default waarde de huidige datum
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Omleidingen'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/haltes/{entiteitnummer}/{haltenummer}/real-time':
    get:
      summary: geefDoorkomstenVoorHalte
      operationId: 59783241e8b4390130ffe011
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
        - name: haltenummer
          in: path
          description: Format - int32. nummer van de halte
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Ritten'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/haltes/{entiteitnummer}/{haltenummer}/storingen':
    get:
      summary: geefStoringenVoorHalte
      operationId: 59783241e8b4390130ffe012
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
        - name: haltenummer
          in: path
          description: Format - int32. nummer van de halte
          required: true
          schema:
            type: integer
        - name: datum
          in: query
          description: datum in formaat yyyy-MM-dd met als default waarde de huidige datum
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Omleidingen'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/haltes/{haltesleutels}':
    get:
      summary: geefHalteLijst
      operationId: 59783241e8b4390130ffe013
      parameters:
        - name: haltesleutels
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Haltes'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/haltes/{haltesleutels}/dienstregelingen':
    get:
      summary: geefDienstregelingVoorHalteLijst
      operationId: 59783241e8b4390130ffe014
      parameters:
        - name: haltesleutels
          in: path
          description: lijst van halte sleutels (bv 1/201302/5/5024541)
          required: true
          schema:
            type: string
        - name: datum
          in: query
          description: datum in formaat yyyy-MM-dd met als default waarde de huidige datum
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HalteDoorkomstenLijst'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/haltes/{haltesleutels}/lijnrichtingen':
    get:
      summary: geefHalteLijnrichtingenLijst
      operationId: 59783241e8b4390130ffe015
      parameters:
        - name: haltesleutels
          in: path
          description: lijst van halte sleutels (bv 1/201302/5/5024541)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Lijnrichtingen'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/haltes/{haltesleutels}/omleidingen':
    get:
      summary: geefOmleidingenVoorHalteLijst
      operationId: 59783241e8b4390130ffe016
      parameters:
        - name: haltesleutels
          in: path
          description: lijst van halte sleutels (bv 1/201302/5/5024541)
          required: true
          schema:
            type: string
        - name: datum
          in: query
          description: datum in formaat yyyy-MM-dd met als default waarde de huidige datum
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HalteOmleidingenLijst'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/haltes/{haltesleutels}/real-time':
    get:
      summary: geefDoorkomstenVoorHalteLijst
      operationId: 59783241e8b4390130ffe017
      parameters:
        - name: haltesleutels
          in: path
          description: lijst van halte sleutels (bv 1/201302/5/5024541)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HalteDoorkomstenLijst'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/haltes/{haltesleutels}/storingen':
    get:
      summary: geefStoringenVoorHalteLijst
      operationId: 59783241e8b4390130ffe018
      parameters:
        - name: haltesleutels
          in: path
          description: lijst van halte sleutels (bv 1/201302/5/5024541)
          required: true
          schema:
            type: string
        - name: datum
          in: query
          description: datum in formaat yyyy-MM-dd met als default waarde de huidige datum
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Omleidingen'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  /kleuren:
    get:
      summary: geefLijnkleuren
      operationId: 59783241e8b4390130ffe019
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Lijnkleuren'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/kleuren/{code}':
    get:
      summary: geefLijnkleurcode
      operationId: 59783241e8b4390130ffe01a
      parameters:
        - name: code
          in: path
          description: code van de lijnkleur
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Lijnkleur'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  /lijnen:
    get:
      summary: geefLijnen
      operationId: 59783241e8b4390130ffe01b
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Lijnen'
  '/lijnen/{entiteitnummer}/{lijnnummer}':
    get:
      summary: geefLijn
      operationId: 59783241e8b4390130ffe01c
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: lijnnummer
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: request met succes afgehandeld
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Lijn'
        '404':
          description: lijn is niet gevonden
          content:
            application/json;charset=UTF-8: { }
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/lijnen/{entiteitnummer}/{lijnnummer}/gemeenten':
    get:
      summary: geefGemeentenVoorLijn
      operationId: 59783241e8b4390130ffe01d
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
        - name: lijnnummer
          in: path
          description: Format - int32. nummer van de lijn
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Gemeenten'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/lijnen/{entiteitnummer}/{lijnnummer}/lijnkleuren':
    get:
      summary: geefLijnkleur
      operationId: 59783241e8b4390130ffe01e
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: lijnnummer
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/LijnkleurCodes'
  '/lijnen/{entiteitnummer}/{lijnnummer}/lijnrichtingen':
    get:
      summary: geefLijnrichtingen
      operationId: 59783241e8b4390130ffe01f
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: lijnnummer
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Lijnrichtingen'
  '/lijnen/{entiteitnummer}/{lijnnummer}/lijnrichtingen/{richting}':
    get:
      summary: geefLijnrichting
      operationId: 59783241e8b4390130ffe020
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: lijnnummer
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: richting
          in: path
          required: true
          schema:
            enum:
              - HEEN
              - TERUG
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Lijnrichting'
  '/lijnen/{entiteitnummer}/{lijnnummer}/lijnrichtingen/{richting}/dienstregelingen':
    get:
      summary: geefDienstregelingVoorLijnrichting
      operationId: 59783241e8b4390130ffe021
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
        - name: lijnnummer
          in: path
          description: Format - int32. nummer van de lijn
          required: true
          schema:
            type: integer
        - name: richting
          in: path
          description: richting van de lijn
          required: true
          schema:
            enum:
              - HEEN
              - TERUG
            type: string
        - name: datum
          in: query
          description: datum in formaat yyyy-MM-dd met als default waarde de huidige datum
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Ritten'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/lijnen/{entiteitnummer}/{lijnnummer}/lijnrichtingen/{richting}/haltes':
    get:
      summary: geefHaltesVoorLijnrichting
      operationId: 59783241e8b4390130ffe022
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: lijnnummer
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: richting
          in: path
          required: true
          schema:
            enum:
              - HEEN
              - TERUG
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Haltes'
  '/lijnen/{entiteitnummer}/{lijnnummer}/lijnrichtingen/{richting}/omleidingen':
    get:
      summary: geefGeplandeStoringenVoorLijnrichting
      operationId: 59783241e8b4390130ffe023
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
        - name: lijnnummer
          in: path
          description: Format - int32. nummer van de lijn
          required: true
          schema:
            type: integer
        - name: richting
          in: path
          description: richting van de lijn
          required: true
          schema:
            enum:
              - HEEN
              - TERUG
            type: string
        - name: datum
          in: query
          description: datum in formaat yyyy-MM-dd met als default waarde de huidige datum
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Omleidingen'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/lijnen/{entiteitnummer}/{lijnnummer}/lijnrichtingen/{richting}/real-time':
    get:
      summary: geefDoorkomstVoorLijnrichting
      operationId: 59783241e8b4390130ffe024
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
        - name: lijnnummer
          in: path
          description: Format - int32. nummer van de lijn
          required: true
          schema:
            type: integer
        - name: richting
          in: path
          description: richting van de lijn
          required: true
          schema:
            enum:
              - HEEN
              - TERUG
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Ritten'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/lijnen/{entiteitnummer}/{lijnnummer}/lijnrichtingen/{richting}/rit/{ritnummer}':
    get:
      summary: geefRitVoorLijnrichting
      operationId: 59783241e8b4390130ffe025
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
        - name: lijnnummer
          in: path
          description: Format - int32. nummer van de lijn
          required: true
          schema:
            type: integer
        - name: richting
          in: path
          description: richting van de lijn
          required: true
          schema:
            enum:
              - HEEN
              - TERUG
            type: string
        - name: ritnummer
          in: path
          description: nummer van de rit
          required: true
          schema:
            type: string
        - name: datum
          in: query
          description: exploitatie datum in formaat yyyy-MM-dd met huidige datum als default
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Ritten'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/lijnen/{entiteitnummer}/{lijnnummer}/lijnrichtingen/{richting}/storingen':
    get:
      summary: geefOnGeplandeStoringenVoorLijnrichting
      operationId: 59783241e8b4390130ffe026
      parameters:
        - name: entiteitnummer
          in: path
          description: Format - int32. nummer van de entiteit
          required: true
          schema:
            type: integer
        - name: lijnnummer
          in: path
          description: Format - int32. nummer van de lijn
          required: true
          schema:
            type: integer
        - name: richting
          in: path
          description: richting van de lijn
          required: true
          schema:
            enum:
              - HEEN
              - TERUG
            type: string
        - name: datum
          in: query
          description: datum in formaat yyyy-MM-dd met als default waarde de huidige datum
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Omleidingen'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/lijnen/{lijnsleutels}':
    get:
      summary: geefLijnLijst
      operationId: 59783241e8b4390130ffe027
      parameters:
        - name: lijnsleutels
          in: path
          description: lijst van lijn sleutels (bv 1/500/1/550)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Lijnen'
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
  '/lijnen/{lijnsleutels}/lijnkleuren':
    get:
      summary: geefLijnkleurLijst
      operationId: 59783241e8b4390130ffe028
      parameters:
        - name: lijnsleutels
          in: path
          description: lijst van lijn sleutels (bv 1/500/1/550)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/LijnkleurCodes'
  '/lijnen/{lijnsleutels}/lijnrichtingen':
    get:
      summary: geefLijnrichtingenLijst
      operationId: 59783241e8b4390130ffe029
      parameters:
        - name: lijnsleutels
          in: path
          description: lijst van lijn sleutels (bv 1/500/1/550)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/LijnLijnrichtingenLijst'
  '/routeplan/{vertrekLatlng}/{bestemmingLatlng}':
    get:
      summary: geefRouteplan
      description: 'voor een vroeger routeplan dient de parameter tijdstip overeen te komen met het aankomsttijdsip (duurtijd.einde) van de vroegste reisweg, voor een later routeplan dient de parameter tijdstip overeen te komen het het vertrektijdstip (duurtijd.start) van de laatste reisweg'
      operationId: 59783241e8b4390130ffe02a
      parameters:
        - name: vertrekLatlng
          in: path
          description: 'latitude en longitude van de vertrek locatie gescheiden door komma bv, 51.056064,3.797336'
          required: true
          schema:
            type: string
        - name: bestemmingLatlng
          in: path
          description: 'latitude en longitude van de aankomst locatie gescheiden door komma bv, 51.056064,3.797336'
          required: true
          schema:
            type: string
        - name: aanvraagType
          in: query
          description: 'bepaalt of de aanvraag gaat over een initiële, vroegere, latere of laatste routeplan'
          schema:
            enum:
              - INITIEEL
              - VROEGER
              - LATER
              - LAATSTE
            type: string
            default: INITIEEL
        - name: tijdstip
          in: query
          description: tijdstip van vertrekken of aankomen in formaat yyyy-MM-dd'T'HH:mm:ss bv. 2016-11-11T22:00:00
          schema:
            type: string
        - name: vertrekAankomst
          in: query
          description: verwijst het tijdstip naar het moment van vertrek of aankomst
          schema:
            enum:
              - VERTREK
              - AANKOMST
            type: string
            default: VERTREK
        - name: vervoersOptie
          in: query
          description: 'Lijst van vervoersopties met als default BUS,TRAM,METRO en TREIN'
          schema:
            type: array
      responses:
        '200':
          description: request met succes afgehandeld
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Routeplan'
        '400':
          description: ongeldige input waarden in de request
          content:
            application/json;charset=UTF-8: { }
        '500':
          description: service of achterliggende systemen niet beschikbaar
          content:
            application/json;charset=UTF-8: { }
components:
  schemas:
    DeLijnPunt:
      allOf:
        - $ref: '#/components/schemas/Punt'
        - type: object
    Doorkomst:
      required:
        - dienstregelingTijdstip
        - entiteitnummer
        - haltenummer
        - lijnnummer
        - richting
      type: object
      properties:
        entiteitnummer:
          type: string
          description: entiteit nummer
          example: '3'
        lijnnummer:
          type: integer
          description: lijn nummer
          format: int32
          example: 335
        richting:
          enum:
            - HEEN
            - TERUG
          type: string
          description: richting van de rit
          example: HEEN
        ritnummer:
          type: string
        haltenummer:
          type: string
          description: halte nummer (key waarde)
          example: '303980'
        dienstregelingTijdstip:
          type: string
          description: doorkomsttijdstip volgens de dienstregeling van een rit aan de halte
          format: date-time
          example: '2016-09-13T06:05:00.0000000+00:00'
        real-timeTijdstip:
          type: string
          description: real-time doorkomsttijdstip van een rit aan de halte
          format: date-time
          readOnly: true
          example: '2016-09-13T06:05:00.0000000+00:00'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        bestemming:
          type: string
          description: afgekorte halte naam van de laatste halte van de rit
          example: ANTWERPEN ROOSEVEL
        vias:
          type: array
          items:
            type: string
          description: lijst van plaatsen die deze rit bedient als afwijkend t.o.v. de reguliere ritten
          example: VIA WITGOOR-ARENDO
    Duration:
      type: object
      properties:
        days:
          type: integer
          format: int32
        hours:
          type: integer
          format: int32
        months:
          type: integer
          format: int32
        minutes:
          type: integer
          format: int32
        seconds:
          type: integer
          format: int32
        years:
          type: integer
          format: int32
        sign:
          type: integer
          format: int32
        xmlschemaType:
          $ref: '#/components/schemas/QName'
    Duur:
      type: object
      properties:
        start:
          type: string
          description: geeft de starttijd van de deze reisweg(stap) in het formmaat yyyy-MM-dd'T'HH:mm:ss
          format: date-time
          example: '2016-10-24T10:22:00.0000000+00:00'
        einde:
          type: string
          description: geeft de aankomsttijd van de deze reisweg(stap) in het formmaat yyyy-MM-dd'T'HH:mm:ss
          format: date-time
          example: '2016-10-24T10:22:00.0000000+00:00'
        duurtijd:
          $ref: '#/components/schemas/Duration'
    Entiteit:
      required:
        - entiteitcode
        - entiteitnummer
        - omschrijving
      type: object
      properties:
        entiteitnummer:
          type: string
          description: nummer entiteit (key waarde)
          example: '1'
        entiteitcode:
          type: string
          description: code entiteit
          example: A
        omschrijving:
          type: string
          description: omschrijving entiteit
          example: Antwerpen
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Entiteiten:
      type: object
      properties:
        entiteiten:
          type: array
          items:
            $ref: '#/components/schemas/Entiteit'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Gemeente:
      required:
        - gemeentenummer
        - omschrijving
      type: object
      properties:
        gemeentenummer:
          type: integer
          description: nummer van de gemeente (key waarde)
          format: int32
          example: 482
        omschrijving:
          type: string
          description: naam van de gemeente
          example: AALTER
        hoofdGemeente:
          $ref: '#/components/schemas/Gemeente'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Gemeenten:
      required:
        - gemeenten
      type: object
      properties:
        gemeenten:
          type: array
          items:
            $ref: '#/components/schemas/Gemeente'
          description: lijst van gemeenten
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    GeoCoordinaat:
      type: object
      properties:
        latitude:
          type: number
          description: bevat de latitude van een geografische locatie
          format: double
        longitude:
          type: number
          description: bevat de longitude van een geografische locatie
          format: double
    Halte:
      required:
        - entiteitnummer
        - gemeentenummer
        - haltenummer
        - omschrijving
        - omschrijvingGemeente
      type: object
      properties:
        entiteitnummer:
          type: string
          description: nummer entiteit (key waarde)
          example: '3'
        haltenummer:
          type: string
          description: halte nummer (key waarde)
          example: '303980'
        omschrijving:
          type: string
          description: Omschrijving van de halte
          example: Gilsonplein
        gemeentenummer:
          type: integer
          description: nummer gemeente (key waarde)
          format: int32
          example: 57
        omschrijvingGemeente:
          type: string
          description: Naam van de gemeente waar de halte zich bevindt
          example: Leuven
        geoCoordinaat:
          $ref: '#/components/schemas/GeoCoordinaat'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    HalteDoorkomst:
      type: object
      properties:
        haltenummer:
          type: string
          description: nummer van de halte (key waarde)
          example: '308674'
        doorkomsten:
          type: array
          items:
            $ref: '#/components/schemas/Doorkomst'
          description: lijst van doorkomsten van meerdere ritten
    HalteDoorkomsten:
      type: object
      properties:
        halteDoorkomsten:
          type: array
          items:
            $ref: '#/components/schemas/HalteDoorkomst'
          description: lijst van doorkomsten per halte
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        doorkomstNotas:
          type: array
          items:
            $ref: '#/components/schemas/Nota'
          description: lijst van notas op niveau van een doorkomst
        ritNotas:
          type: array
          items:
            $ref: '#/components/schemas/Nota'
          description: lijst van notas op niveau van een rit
        omleidingen:
          type: array
          items:
            $ref: '#/components/schemas/Nota'
          description: lijst van omleidingen op niveau van dienstregeling
          readOnly: true
    HalteDoorkomstenLijst:
      type: object
      properties:
        halteDoorkomstenLijst:
          type: array
          items:
            $ref: '#/components/schemas/HalteDoorkomsten'
          readOnly: true
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    HalteOmleidingen:
      required:
        - halte
        - omleidingen
      type: object
      properties:
        halte:
          $ref: '#/components/schemas/Halte'
        omleidingen:
          type: array
          items:
            $ref: '#/components/schemas/Omleiding'
          description: Geeft de omleidingen van de halte sleutel
    HalteOmleidingenLijst:
      type: object
      properties:
        halteOmleidingen:
          type: array
          items:
            $ref: '#/components/schemas/HalteOmleidingen'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Haltes:
      type: object
      properties:
        haltes:
          type: array
          items:
            $ref: '#/components/schemas/Halte'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Lijn:
      required:
        - bedieningtype
        - entiteitnummer
        - lijnGeldigTot
        - lijnGeldigVan
        - lijnnummer
        - lijnnummerPubliek
        - omschrijving
        - publiek
        - vervoertype
      type: object
      properties:
        entiteitnummer:
          type: string
          description: entiteit nummer (key waarde)
          example: '3'
        lijnnummer:
          type: string
          description: intern lijn nummer (key waarde)
          example: '335'
        lijnnummerPubliek:
          type: string
          description: lijn nummer zoals gekend voor de reizigerr
          example: '335'
        omschrijving:
          type: string
          description: omschrijving van de lijn
          example: Leuven - Aarschot
        publiek:
          type: boolean
          description: is de lijn toegankelijk voor het publiek
          default: false
          example: true
        vervoertype:
          enum:
            - BUS
            - TRAM
            - METRO
            - TREIN
            - ALLE
          type: string
          description: het vervoerstype van de lijn
          example: METRO
        bedieningtype:
          enum:
            - NORMAAL
            - SNELDIENST
            - SCHOOLBUS
            - FABRIEKSLIJN
            - TECHNISCHE_LIJN
            - BELBUS
            - NACHTLIJN
          type: string
          description: het bedieningtype van de lijn
          example: BELBUS
        lijnGeldigVan:
          type: string
          description: de start datum van de dienstregeling zoals die momenteel geldt
          format: date-time
          example: '2016-08-31T00:00:00.0000000+00:00'
        lijnGeldigTot:
          type: string
          description: de eind datum van de dienstregeling zoals die momenteel geldt
          format: date-time
          example: '2016-10-30T00:00:00.0000000+00:00'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    LijnKleurCode:
      type: object
      properties:
        code:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    LijnLijnrichtingen:
      required:
        - lijn
        - lijnrichtingen
      type: object
      properties:
        lijn:
          $ref: '#/components/schemas/Lijn'
        lijnrichtingen:
          type: array
          items:
            $ref: '#/components/schemas/Lijnrichting'
          description: Geeft de lijnrichting(en) van de lijn sleutel
    LijnLijnrichtingenLijst:
      type: object
      properties:
        lijnLijnrichtingen:
          type: array
          items:
            $ref: '#/components/schemas/LijnLijnrichtingen'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Lijnen:
      type: object
      properties:
        lijnen:
          type: array
          items:
            $ref: '#/components/schemas/Lijn'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Lijnkleur:
      required:
        - code
        - hex
        - omschrijving
        - rgb
      type: object
      properties:
        code:
          type: string
          description: kleur code (key waarde)
          example: ZW
        omschrijving:
          type: string
          description: omschrijving van de kleur
          example: Zwart
        rgb:
          $ref: '#/components/schemas/RGB'
        hex:
          type: string
          description: de hexadecimalen waarden van de kleur
          example: '000000'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    LijnkleurCodes:
      type: object
      properties:
        voorgrond:
          $ref: '#/components/schemas/LijnKleurCode'
        achtergrond:
          $ref: '#/components/schemas/LijnKleurCode'
        voorgrondRand:
          $ref: '#/components/schemas/LijnKleurCode'
        achtergrondRand:
          $ref: '#/components/schemas/LijnKleurCode'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Lijnkleuren:
      required:
        - kleuren
      type: object
      properties:
        kleuren:
          type: array
          items:
            $ref: '#/components/schemas/Lijnkleur'
          description: geeft lijst van lijnkleuren
          readOnly: true
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Lijnrichting:
      required:
        - entiteitnummer
        - lijnnummer
        - omschrijving
        - richting
      type: object
      properties:
        lijnNummerPubliek:
          type: string
          description: publiek lijnnummer
          example: '335'
        entiteitnummer:
          type: string
          description: entiteit nummer
          example: '3'
        lijnnummer:
          type: string
          description: lijn nummer
          example: '335'
        richting:
          enum:
            - HEEN
            - TERUG
          type: string
          description: richting van de lijn
          example: HEEN
        omschrijving:
          type: string
          description: omschrijving van de lijnrichting
          example: Leuven - Aarschot
        bestemming:
          type: string
          description: eindhalte van de lijnrichting
          example: LEUVEN GASTHUISB.
        kleurVoorGrond:
          type: string
          description: kleur van het lijnnummer op het vignet
          example: '#FFFFFF'
        kleurAchterGrond:
          type: string
          description: achtergrond kleur van het lijn vignet
          example: '#991199'
        kleurAchterGrondRand:
          type: string
          description: kleur van de rand van het lijn vignet
          example: '#991199'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Lijnrichtingen:
      type: object
      properties:
        lijnrichtingen:
          type: array
          items:
            $ref: '#/components/schemas/Lijnrichting'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Link:
      type: object
      properties:
        rel:
          type: string
        url:
          type: string
    MIVBPunt:
      allOf:
        - $ref: '#/components/schemas/Punt'
        - type: object
    NMBSPunt:
      allOf:
        - $ref: '#/components/schemas/Punt'
        - type: object
    Nota:
      type: object
      properties:
        id:
          type: integer
          description: identificatie nummer van een omleiding (voorziene storing)
          format: int32
          example: 30506
        titel:
          type: string
          description: Titel van de omleiding
          example: 'Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken'
        ritnummer:
          type: string
          description: nummer van de rit (key waarde)
          example: '44'
        haltenummer:
          type: integer
          description: halte nummer (key waarde)
          format: int32
          example: 303980
        omschrijving:
          type: string
          description: Omschrijving van de nota
          example: Rijdt via Genk St-Lodewijkstraat 12u13 en Genk Campus Bret 12u14.
        entiteitnummer:
          type: integer
          description: entiteit nummer
          format: int32
          example: 3
        lijnnummer:
          type: integer
          description: lijn nummer
          format: int32
          example: 335
        richting:
          enum:
            - HEEN
            - TERUG
          type: string
          description: richting van de rit
          example: HEEN
    Omleiding:
      type: object
      properties:
        titel:
          type: string
          description: Titel van de omleiding
          example: 'Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken'
        omschrijving:
          type: string
          description: Omschrijving van de omleiding
          example: 'Periode : ... Niet-bediende haltes : ... vervanghaltes: ...'
        lijnrichtingen:
          type: array
          items:
            $ref: '#/components/schemas/Lijnrichting'
          description: Lijst van lijnrichtingen die betrokken zijn in deze omleiding
        haltes:
          type: array
          items:
            $ref: '#/components/schemas/Halte'
          description: Lijst van niet bediende haltes van deze omleiding
    Omleidingen:
      type: object
      properties:
        omleidingen:
          type: array
          items:
            $ref: '#/components/schemas/Omleiding'
          description: Lijst van omleidingen
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        storingen:
          type: array
          items:
            $ref: '#/components/schemas/Omleiding'
          description: Lijst van storingen
    Punt:
      type: object
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        id:
          type: string
          description: bevat de identificatie van een locatie bv. haltenummer van een stop van De Lijn
        naam:
          type: string
          description: bevat de naam of omschrijving van een locatie
        afstand:
          type: integer
          description: bevat de afstand in meters tot de opgegeven coordinaat
          format: int32
        geoCoordinaat:
          $ref: '#/components/schemas/GeoCoordinaat'
      discriminator:
        propertyName: type
    Punten:
      type: object
      properties:
        haltes:
          type: array
          items:
            $ref: '#/components/schemas/Punt'
          description: Lijst van haltes
          readOnly: true
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    QName:
      type: object
      properties:
        namespaceURI:
          type: string
        localPart:
          type: string
        prefix:
          type: string
    RGB:
      type: object
      properties:
        rood:
          type: integer
          format: int32
        groen:
          type: integer
          format: int32
        blauw:
          type: integer
          format: int32
    Reisweg:
      type: object
      properties:
        bestpassend:
          type: boolean
          description: 'geeft aan of de reisweg het best beantwoordt aan het gevraagde routeplan  '
          default: false
        overstappen:
          type: integer
          description: geeft het aantal overstappen van deze reisweg gebaseerd op de reiswegstappen
          format: int32
        duurtijd:
          $ref: '#/components/schemas/Duur'
        reiswegStappen:
          type: array
          items:
            $ref: '#/components/schemas/ReiswegStap'
          description: lijst van reiswegstappen van een reisweg
    ReiswegStap:
      type: object
      properties:
        vertrekPunt:
          $ref: '#/components/schemas/Punt'
        aankomstPunt:
          $ref: '#/components/schemas/Punt'
        duurtijd:
          $ref: '#/components/schemas/Duur'
      discriminator:
        propertyName: type
    Rit:
      type: object
      properties:
        ritnummer:
          type: string
          description: nummer van de rit (key waarde) voor de doorkomsten voor deze lijn richting
          example: '44'
        bestemming:
          type: string
          description: afgekorte halte naam van de laatste halte van de rit
          example: ANTWERPEN ROOSEVEL
        vias:
          type: array
          items:
            type: string
          description: lijst van plaatsen die deze rit bedient als afwijkend t.o.v. de reguliere ritten
          example: VIA WITGOOR-ARENDO
        doorkomsten:
          type: array
          items:
            $ref: '#/components/schemas/Doorkomst'
          description: lijst van doorkomsten van een rit
    Ritten:
      type: object
      properties:
        ritDoorkomsten:
          type: array
          items:
            $ref: '#/components/schemas/Rit'
          readOnly: true
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        doorkomstNotas:
          type: array
          items:
            $ref: '#/components/schemas/Nota'
          description: lijst van notas op niveau van een doorkomst
        ritNotas:
          type: array
          items:
            $ref: '#/components/schemas/Nota'
          description: lijst van notas op niveau van een rit
        omleidingen:
          type: array
          items:
            $ref: '#/components/schemas/Nota'
          description: lijst van omleidingen op niveau van dienstregeling
          readOnly: true
    Routeplan:
      required:
        - reiswegen
      type: object
      properties:
        reiswegen:
          type: array
          items:
            $ref: '#/components/schemas/Reisweg'
          description: lijst van reiswegen van het gevraagde routeplan
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    TECPunt:
      allOf:
        - $ref: '#/components/schemas/Punt'
        - type: object
    VoertuigReiswegStap:
      allOf:
        - $ref: '#/components/schemas/ReiswegStap'
        - type: object
          properties:
            lijnType:
              enum:
                - VOERTUIG
                - WACHTEN
                - WANDELEN
              type: string
              description: geeft het type reiswegstap
            maatschappijType:
              enum:
                - DE_LIJN
                - NMBS
                - MIVB
                - TEC
              type: string
              description: geeft de maatschappij die de reiswegstap uitvoert
            ritnummer:
              type: string
            lijnrichting:
              $ref: '#/components/schemas/Lijnrichting'
            afstand:
              type: integer
              description: geeft afstand tussen het vertrekpunt en aankomst weer in meters
              format: int32
            geoCoordinaten:
              type: array
              items:
                $ref: '#/components/schemas/GeoCoordinaat'
              description: geeft een lijst van coordinaten voor het traject van de reiswegstap
            omleidingen:
              $ref: '#/components/schemas/Omleiding'
    WachtenReiswegStap:
      allOf:
        - $ref: '#/components/schemas/ReiswegStap'
        - type: object
    WandelReiswegStap:
      allOf:
        - $ref: '#/components/schemas/ReiswegStap'
        - type: object
          properties:
            afstand:
              type: integer
              format: int32
            geoCoordinaten:
              type: array
              items:
                $ref: '#/components/schemas/GeoCoordinaat'
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
security:
  - apiKeyHeader: [ ]
  - apiKeyQuery: [ ]