{
  "openapi": "3.0.1",
  "info": {
    "title": "De Lijn Zoek Open Data Services (v1)",
    "description": "",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.delijn.be/DLZoekOpenData/v1"
    }
  ],
  "paths": {
    "/zoek/haltes/{zoekArgument}": {
      "get": {
        "summary": "zoekHaltes",
        "description": "zoekHaltes",
        "operationId": "58ee31c8b1ae590fdc2149f4",
        "parameters": [
          {
            "name": "zoekArgument",
            "in": "path",
            "description": "het zoekargument",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "huidigePositie",
            "in": "query",
            "description": "de latitude en longitude coordinaat waarden gescheiden door komma bv, 51.056064,3.797336 van de lokatie waarvoor haltes in de buurt gezocht wordt",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Format - int32. de start positie in de lijst van gevonden haltes",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "maxAantalHits",
            "in": "query",
            "description": "Format - int32. het maximaal aantal haltes aangeleverd door deze service ",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HaltesHits"
                },
                "example": {
                  "aantalHits": 320,
                  "haltes": [
                    {
                      "entiteitnummer": "3",
                      "haltenummer": "303980",
                      "omschrijving": "Gilsonplein",
                      "gemeentenummer": 57,
                      "omschrijvingGemeente": "Leuven",
                      "geoCoordinaat": "50.98145261213046,4.823559183763914",
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/zoek/lijnrichtingen/{zoekArgument}": {
      "get": {
        "summary": "zoekLijnrichtingen",
        "description": "zoekLijnrichtingen",
        "operationId": "59009179b1ae5914a8cbcdb9",
        "parameters": [
          {
            "name": "zoekArgument",
            "in": "path",
            "description": "het zoekargument",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "huidigePositie",
            "in": "query",
            "description": "de latitude en longitude coordinaat waarden gescheiden door komma bv, 51.056064,3.797336 van de lokatie waarvoor lijnen in de buurt gezocht wordt",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Format - int32. de start positie in de lijst van gevonden lijnen",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "maxAantalHits",
            "in": "query",
            "description": "Format - int32. het maximaal aantal lijnen aangeleverd door deze service ",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LijnRichtingHits"
                },
                "example": {
                  "aantalHits": 6,
                  "lijnrichtingen": [
                    {
                      "lijnNummerPubliek": "335",
                      "entiteitnummer": "3",
                      "lijnnummer": "335",
                      "richting": "HEEN",
                      "omschrijving": "Leuven - Aarschot",
                      "bestemming": "LEUVEN GASTHUISB.",
                      "kleurVoorGrond": "#FFFFFF",
                      "kleurAchterGrond": "#991199",
                      "kleurAchterGrondRand": "#991199",
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/zoek/locaties/{zoekArgument}": {
      "get": {
        "summary": "zoekLocaties",
        "description": "zoekLocaties",
        "operationId": "58ee31c9b1ae590fdc2149f6",
        "parameters": [
          {
            "name": "zoekArgument",
            "in": "path",
            "description": "het zoekargument",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "huidigePositie",
            "in": "query",
            "description": "momenteel niet ondersteund voor lokaties",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Format - int32. de start positie in de lijst van gevonden lokaties",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "maxAantalHits",
            "in": "query",
            "description": "Format - int32. het maximaal aantal lokaties aangeleverd door deze service ",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/LocatiesHits"
                },
                "example": {
                  "aantalHits": 51,
                  "locaties": [
                    {
                      "type": "adres",
                      "subtype": "hoofdgemeente",
                      "deelgemeentes": "Putkapel,Leuven",
                      "hoofdgemeente": "Leuven",
                      "straat": "Bondgenotenlaan",
                      "haltenummer": "303205",
                      "huisnummer": "112",
                      "geoCoordinaat": "50.98145261213046,4.823559183763914"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GeoCoordinaat": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "bevat de latitude van een geografische locatie",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "description": "bevat de longitude van een geografische locatie",
            "format": "double"
          }
        }
      },
      "Halte": {
        "required": [
          "entiteitnummer",
          "gemeentenummer",
          "haltenummer",
          "omschrijving",
          "omschrijvingGemeente"
        ],
        "type": "object",
        "properties": {
          "entiteitnummer": {
            "type": "string",
            "description": "nummer entiteit (key waarde)",
            "example": "3"
          },
          "haltenummer": {
            "type": "string",
            "description": "halte nummer (key waarde)",
            "example": "303980"
          },
          "omschrijving": {
            "type": "string",
            "description": "Omschrijving van de halte",
            "example": "Gilsonplein"
          },
          "gemeentenummer": {
            "type": "integer",
            "description": "nummer gemeente (key waarde)",
            "format": "int32",
            "example": 57
          },
          "omschrijvingGemeente": {
            "type": "string",
            "description": "Naam van de gemeente waar de halte zich bevindt",
            "example": "Leuven"
          },
          "geoCoordinaat": {
            "$ref": "#/components/schemas/GeoCoordinaat"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "HaltesHits": {
        "required": [
          "aantalHits",
          "haltes"
        ],
        "type": "object",
        "properties": {
          "aantalHits": {
            "type": "integer",
            "description": "het aantal gevonden haltes die beantwoorden aan het zoekargument",
            "format": "int32",
            "example": 320
          },
          "haltes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Halte"
            },
            "description": "de gevonden haltes die beantwoorden aan het zoekargument"
          }
        }
      },
      "LijnRichtingHits": {
        "required": [
          "aantalHits",
          "lijnrichtingen"
        ],
        "type": "object",
        "properties": {
          "aantalHits": {
            "type": "integer",
            "description": "het aantal gevonden lijnrichtingen die beantwoorden aan het zoekargument",
            "format": "int32",
            "example": 6
          },
          "lijnrichtingen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Lijnrichting"
            },
            "description": "de gevonden lijnrichtingen die beantwoorden aan het zoekargument"
          }
        }
      },
      "Lijnrichting": {
        "required": [
          "entiteitnummer",
          "lijnnummer",
          "omschrijving",
          "richting"
        ],
        "type": "object",
        "properties": {
          "lijnNummerPubliek": {
            "type": "string",
            "description": "publiek lijnnummer",
            "example": "335"
          },
          "entiteitnummer": {
            "type": "string",
            "description": "entiteit nummer",
            "example": "3"
          },
          "lijnnummer": {
            "type": "string",
            "description": "lijn nummer",
            "example": "335"
          },
          "richting": {
            "enum": [
              "HEEN",
              "TERUG"
            ],
            "type": "string",
            "description": "richting van de lijn",
            "example": "HEEN"
          },
          "omschrijving": {
            "type": "string",
            "description": "omschrijving van de lijnrichting",
            "example": "Leuven - Aarschot"
          },
          "bestemming": {
            "type": "string",
            "description": "eindhalte van de lijnrichting",
            "example": "LEUVEN GASTHUISB."
          },
          "kleurVoorGrond": {
            "type": "string",
            "description": "kleur van het lijnnummer op het vignet",
            "example": "#FFFFFF"
          },
          "kleurAchterGrond": {
            "type": "string",
            "description": "achtergrond kleur van het lijn vignet",
            "example": "#991199"
          },
          "kleurAchterGrondRand": {
            "type": "string",
            "description": "kleur van de rand van het lijn vignet",
            "example": "#991199"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Locatie": {
        "required": [
          "subtype",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "adres",
              "halte",
              "herkenningspunt",
              "station"
            ],
            "type": "string",
            "description": "geeft het type weer aan van de locatie",
            "example": "adres"
          },
          "subtype": {
            "enum": [
              "hoofdgemeente",
              "deelgemeente",
              "straat",
              "adres",
              "halte",
              "herkenningspunt",
              "station"
            ],
            "type": "string",
            "description": "geeft het subttype weer aan van de locatie binnen een bepaald type",
            "example": "hoofdgemeente"
          },
          "deelgemeentes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "geeft een lijst van namen van deelgemeente voor deze locatie",
            "example": "Putkapel,Leuven"
          },
          "hoofdgemeente": {
            "type": "string",
            "description": "geeft de naam van de hoofdgemeente voor deze locatie",
            "example": "Leuven"
          },
          "straat": {
            "type": "string",
            "description": "geeft de straat voor deze straat locatie",
            "example": "Bondgenotenlaan"
          },
          "haltenummer": {
            "type": "string",
            "description": "geeft haltenummer voor deze halte locatie",
            "example": "303205"
          },
          "huisnummer": {
            "type": "string",
            "description": "geeft huisnummer voor deze adres locatie",
            "example": "112"
          },
          "geoCoordinaat": {
            "$ref": "#/components/schemas/GeoCoordinaat"
          }
        }
      },
      "LocatiesHits": {
        "required": [
          "aantalHits",
          "locaties"
        ],
        "type": "object",
        "properties": {
          "aantalHits": {
            "type": "integer",
            "description": "het aantal gevonden locaties die beantwoorden aan het zoekargument",
            "format": "int32",
            "example": 51
          },
          "locaties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Locatie"
            },
            "description": "de gevonden locaties die beantwoorden aan het zoekargument"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": [ ]
    },
    {
      "apiKeyQuery": [ ]
    }
  ]
}