{
  "openapi": "3.0.1",
  "info": {
    "title": "De Lijn Kern Open Data Services (v1)",
    "description": "Dit document beschrijft de kern operaties van de Open Data API (v1)",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.delijn.be/DLKernOpenData/api/v1"
    }
  ],
  "paths": {
    "/entiteiten": {
      "get": {
        "tags": [
          "entiteiten"
        ],
        "summary": "geef alle entiteiten",
        "operationId": "geefEntiteiten",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entiteiten"
                },
                "example": {
                  "entiteiten": [
                    {
                      "entiteitnummer": "1",
                      "entiteitcode": "A",
                      "omschrijving": "Antwerpen",
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/entiteiten/{entiteitnummer}": {
      "get": {
        "tags": [
          "entiteiten"
        ],
        "summary": "geef een entiteit op basis van het opgegeven entiteitnummer",
        "operationId": "geefEntiteit",
        "parameters": [
          {
            "name": "entiteitnummer",
            "in": "path",
            "description": "Format - int32. nummer van de entiteit",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entiteit"
                },
                "example": {
                  "entiteitnummer": "1",
                  "entiteitcode": "A",
                  "omschrijving": "Antwerpen",
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "entiteit is niet gevonden",
            "content": {
              "application/json": { }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/entiteiten/{entiteitnummer}/gemeenten": {
      "get": {
        "tags": [
          "entiteiten"
        ],
        "summary": "geef alle gemeenten die beheerd worden door een entiteit",
        "operationId": "geefGemeentenVoorEntiteit",
        "parameters": [
          {
            "name": "entiteitnummer",
            "in": "path",
            "description": "Format - int32. nummer van de entiteit",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Gemeenten"
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/gemeenten": {
      "get": {
        "tags": [
          "gemeenten"
        ],
        "summary": "geef alle gemeenten",
        "operationId": "geefGemeenten",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Gemeenten"
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/gemeenten/{gemeenteNummer}": {
      "get": {
        "tags": [
          "gemeenten"
        ],
        "summary": "geef een gemeente op basis van het opgegeven gemeentenummer",
        "operationId": "geefGemeente",
        "parameters": [
          {
            "name": "gemeenteNummer",
            "in": "path",
            "description": "Format - int32. nummer van de gemeente",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Gemeente"
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/gemeenten/{gemeenteNummer}/haltes": {
      "get": {
        "tags": [
          "gemeenten"
        ],
        "summary": "geef alle haltes binnen een gemeente",
        "operationId": "geefHaltesVoorGemeente",
        "parameters": [
          {
            "name": "gemeenteNummer",
            "in": "path",
            "description": "Format - int32. nummer van de gemeente",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Haltes"
                },
                "example": {
                  "haltes": [
                    {
                      "entiteitnummer": "3",
                      "haltenummer": "303980",
                      "omschrijving": "Gilsonplein",
                      "gemeentenummer": 57,
                      "omschrijvingGemeente": "Leuven",
                      "districtCode": "GRI",
                      "geoCoordinaat": "50.98145261213046,4.823559183763914",
                      "halteToegankelijkheden": "VISUELE_BEPERKING",
                      "hoofdHalte": true,
                      "taal": "N",
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/gemeenten/{gemeenteNummer}/lijnen": {
      "get": {
        "tags": [
          "gemeenten"
        ],
        "summary": "geef alle lijnen die een gemeente bedienen",
        "operationId": "geefLijnenVoorGemeente",
        "parameters": [
          {
            "name": "gemeenteNummer",
            "in": "path",
            "description": "Format - int32. nummer van de gemeente",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lijnen"
                },
                "example": {
                  "lijnen": [
                    {
                      "entiteitnummer": "3",
                      "lijnnummer": "335",
                      "lijnnummerPubliek": "335",
                      "omschrijving": "Leuven - Aarschot",
                      "vervoerRegioCode": "VR",
                      "publiek": true,
                      "vervoertype": "METRO",
                      "bedieningtype": "BELBUS",
                      "lijnGeldigVan": "2016-08-31",
                      "lijnGeldigTot": "2016-10-30",
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "gemeente is niet gevonden",
            "content": {
              "application/json": { }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/haltes/indebuurt/{latlng}": {
      "get": {
        "tags": [
          "haltes"
        ],
        "summary": "geef de haltes van de verschillende vervoersmaatschappijen in de buurt van de opgegeven coordinaten",
        "operationId": "geefHaltesIndebuurt",
        "parameters": [
          {
            "name": "latlng",
            "in": "path",
            "description": "latitude en longitude gescheiden door komma bv, 51.056064,3.797336",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Format - int32. de radius in meters binnen de welke naar haltes gezocht wordt",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 750
            }
          },
          {
            "name": "maxAantalHaltes",
            "in": "query",
            "description": "Format - int32. het maximaal aantal haltes die van de operatie verwacht wordt",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 999
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Punten"
                },
                "example": {
                  "haltes": [
                    {
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ],
                      "id": "string",
                      "naam": "string",
                      "afstand": 0,
                      "geoCoordinaat": "50.98145261213046,4.823559183763914"
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/haltes/lijst/{haltesleutels}": {
      "get": {
        "tags": [
          "haltes"
        ],
        "summary": "geef een lijst van haltes op basis van een lijst van halte sleutels",
        "operationId": "geefHalteLijst",
        "parameters": [
          {
            "name": "haltesleutels",
            "in": "path",
            "description": "lijst van halte sleutels (bv 1_201302_5_5024541)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Haltes"
                },
                "example": {
                  "haltes": [
                    {
                      "entiteitnummer": "3",
                      "haltenummer": "303980",
                      "omschrijving": "Gilsonplein",
                      "gemeentenummer": 57,
                      "omschrijvingGemeente": "Leuven",
                      "districtCode": "GRI",
                      "geoCoordinaat": "50.98145261213046,4.823559183763914",
                      "halteToegankelijkheden": "VISUELE_BEPERKING",
                      "hoofdHalte": true,
                      "taal": "N",
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "ongeldige waarden als input",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/haltes/lijst/{haltesleutels}/dienstregelingen": {
      "get": {
        "tags": [
          "haltes"
        ],
        "summary": "geef de dienstregeling voor de opgegeven halte sleutels",
        "operationId": "geefDienstregelingVoorHalteLijst",
        "parameters": [
          {
            "name": "haltesleutels",
            "in": "path",
            "description": "lijst van halte sleutels (bv 1_201302_5_5024541)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datum",
            "in": "query",
            "description": "datum in formaat yyyy-MM-dd met als default waarde de huidige datum",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inclusiefRitnummer",
            "in": "query",
            "description": "het ritnummer is gewenst in het resultaat (performance impact)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/HalteDoorkomstenLijst"
                },
                "example": {
                  "halteDoorkomstenLijst": [
                    {
                      "halteDoorkomsten": [
                        {
                          "haltenummer": "308674",
                          "doorkomsten": [
                            {
                              "entiteitnummer": "3",
                              "lijnnummer": 335,
                              "richting": "HEEN",
                              "ritnummer": "string",
                              "bestemming": "ANTWERPEN ROOSEVEL",
                              "vias": "VIA WITGOOR-ARENDO",
                              "haltenummer": "303980",
                              "dienstregelingTijdstip": "2016-09-13T06:05:00.0000000+00:00",
                              "real-timeTijdstip": "2016-09-13T06:05:00.0000000+00:00",
                              "vrtnum": "521684",
                              "predictionStatussen": "REALTIME",
                              "links": [
                                {
                                  "rel": "string",
                                  "url": "string"
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ],
                      "doorkomstNotas": [
                        {
                          "id": 30506,
                          "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                          "ritnummer": "44",
                          "haltenummer": 303980,
                          "omschrijving": "Rijdt via Genk St-Lodewijkstraat 12u13 en Genk Campus Bret 12u14.",
                          "entiteitnummer": 3,
                          "lijnnummer": 335,
                          "richting": "HEEN"
                        }
                      ],
                      "ritNotas": [
                        {
                          "id": 30506,
                          "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                          "ritnummer": "44",
                          "haltenummer": 303980,
                          "omschrijving": "Rijdt via Genk St-Lodewijkstraat 12u13 en Genk Campus Bret 12u14.",
                          "entiteitnummer": 3,
                          "lijnnummer": 335,
                          "richting": "HEEN"
                        }
                      ],
                      "omleidingen": [
                        {
                          "id": 30506,
                          "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                          "ritnummer": "44",
                          "haltenummer": 303980,
                          "omschrijving": "Rijdt via Genk St-Lodewijkstraat 12u13 en Genk Campus Bret 12u14.",
                          "entiteitnummer": 3,
                          "lijnnummer": 335,
                          "richting": "HEEN"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/haltes/lijst/{haltesleutels}/lijnrichtingen": {
      "get": {
        "tags": [
          "haltes"
        ],
        "summary": "geef de lijnrichtingen die de opgegeven halte bedienen op basis van een lijst van halte sleutels",
        "operationId": "geefHalteLijnrichtingenLijst",
        "parameters": [
          {
            "name": "haltesleutels",
            "in": "path",
            "description": "lijst van halte sleutels (bv 1_201302_5_5024541)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Lijnrichtingen"
                },
                "example": {
                  "lijnrichtingen": [
                    {
                      "lijnNummerPubliek": "335",
                      "entiteitnummer": "3",
                      "lijnnummer": "335",
                      "richting": "HEEN",
                      "omschrijving": "Leuven - Aarschot",
                      "bestemming": "LEUVEN GASTHUISB.",
                      "kleurVoorGrond": "#FFFFFF",
                      "kleurAchterGrond": "#991199",
                      "kleurAchterGrondRand": "#991199",
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/haltes/lijst/{haltesleutels}/omleidingen": {
      "get": {
        "tags": [
          "haltes"
        ],
        "summary": "geef de omleidingen voor de opgegeven halte sleutels",
        "operationId": "geefOmleidingenVoorHalteLijst",
        "parameters": [
          {
            "name": "haltesleutels",
            "in": "path",
            "description": "lijst van halte sleutels (bv 1_201302_5_5024541)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datum",
            "in": "query",
            "description": "datum in formaat yyyy-MM-dd met als default waarde de huidige datum",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/HalteOmleidingenLijst"
                },
                "example": {
                  "halteOmleidingen": [
                    {
                      "halte": {
                        "entiteitnummer": "3",
                        "haltenummer": "303980",
                        "omschrijving": "Gilsonplein",
                        "gemeentenummer": 57,
                        "omschrijvingGemeente": "Leuven",
                        "districtCode": "GRI",
                        "geoCoordinaat": "50.98145261213046,4.823559183763914",
                        "halteToegankelijkheden": "VISUELE_BEPERKING",
                        "hoofdHalte": true,
                        "taal": "N",
                        "links": [
                          {
                            "rel": "string",
                            "url": "string"
                          }
                        ]
                      },
                      "omleidingen": [
                        {
                          "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                          "omschrijving": "Periode : ... Niet-bediende haltes : ... vervanghaltes: ...",
                          "periode": {
                            "startDatum": "string",
                            "eindDatum": "string"
                          },
                          "lijnrichtingen": [
                            {
                              "lijnNummerPubliek": "335",
                              "entiteitnummer": "3",
                              "lijnnummer": "335",
                              "richting": "HEEN",
                              "omschrijving": "Leuven - Aarschot",
                              "bestemming": "LEUVEN GASTHUISB.",
                              "kleurVoorGrond": "#FFFFFF",
                              "kleurAchterGrond": "#991199",
                              "kleurAchterGrondRand": "#991199",
                              "links": [
                                {
                                  "rel": "string",
                                  "url": "string"
                                }
                              ]
                            }
                          ],
                          "haltes": [
                            {
                              "entiteitnummer": "3",
                              "haltenummer": "303980",
                              "omschrijving": "Gilsonplein",
                              "gemeentenummer": 57,
                              "omschrijvingGemeente": "Leuven",
                              "districtCode": "GRI",
                              "geoCoordinaat": "50.98145261213046,4.823559183763914",
                              "halteToegankelijkheden": "VISUELE_BEPERKING",
                              "hoofdHalte": true,
                              "taal": "N",
                              "links": [
                                {
                                  "rel": "string",
                                  "url": "string"
                                }
                              ]
                            }
                          ],
                          "referentieOmleiding": 0,
                          "type": "string",
                          "omleidingsDagen": [
                            "string"
                          ],
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/haltes/lijst/{haltesleutels}/real-time": {
      "get": {
        "tags": [
          "haltes"
        ],
        "summary": "geef de real-time doorkomsten voor de opgegeven halte sleutels",
        "operationId": "geefDoorkomstenVoorHalteLijst",
        "parameters": [
          {
            "name": "haltesleutels",
            "in": "path",
            "description": "lijst van halte sleutels (bv 1_201302_5_5024541)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxAantalDoorkomsten",
            "in": "query",
            "description": "Format - int32. maximaal aantal doorkomsten voor de opgegeven halte",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/HalteDoorkomstenLijst"
                },
                "example": {
                  "halteDoorkomstenLijst": [
                    {
                      "halteDoorkomsten": [
                        {
                          "haltenummer": "308674",
                          "doorkomsten": [
                            {
                              "entiteitnummer": "3",
                              "lijnnummer": 335,
                              "richting": "HEEN",
                              "ritnummer": "string",
                              "bestemming": "ANTWERPEN ROOSEVEL",
                              "vias": "VIA WITGOOR-ARENDO",
                              "haltenummer": "303980",
                              "dienstregelingTijdstip": "2016-09-13T06:05:00.0000000+00:00",
                              "real-timeTijdstip": "2016-09-13T06:05:00.0000000+00:00",
                              "vrtnum": "521684",
                              "predictionStatussen": "REALTIME",
                              "links": [
                                {
                                  "rel": "string",
                                  "url": "string"
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ],
                      "doorkomstNotas": [
                        {
                          "id": 30506,
                          "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                          "ritnummer": "44",
                          "haltenummer": 303980,
                          "omschrijving": "Rijdt via Genk St-Lodewijkstraat 12u13 en Genk Campus Bret 12u14.",
                          "entiteitnummer": 3,
                          "lijnnummer": 335,
                          "richting": "HEEN"
                        }
                      ],
                      "ritNotas": [
                        {
                          "id": 30506,
                          "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                          "ritnummer": "44",
                          "haltenummer": 303980,
                          "omschrijving": "Rijdt via Genk St-Lodewijkstraat 12u13 en Genk Campus Bret 12u14.",
                          "entiteitnummer": 3,
                          "lijnnummer": 335,
                          "richting": "HEEN"
                        }
                      ],
                      "omleidingen": [
                        {
                          "id": 30506,
                          "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                          "ritnummer": "44",
                          "haltenummer": 303980,
                          "omschrijving": "Rijdt via Genk St-Lodewijkstraat 12u13 en Genk Campus Bret 12u14.",
                          "entiteitnummer": 3,
                          "lijnnummer": 335,
                          "richting": "HEEN"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/haltes/lijst/{haltesleutels}/storingen": {
      "get": {
        "tags": [
          "haltes"
        ],
        "summary": "geef de storingen de opgegeven halte sleutels",
        "operationId": "geefStoringenVoorHalteLijst",
        "parameters": [
          {
            "name": "haltesleutels",
            "in": "path",
            "description": "lijst van halte sleutels (bv 1_201302_5_5024541)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datum",
            "in": "query",
            "description": "datum in formaat yyyy-MM-dd met als default waarde de huidige datum",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Omleidingen"
                },
                "example": {
                  "omleidingen": [
                    {
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "omschrijving": "Periode : ... Niet-bediende haltes : ... vervanghaltes: ...",
                      "periode": {
                        "startDatum": "string",
                        "eindDatum": "string"
                      },
                      "lijnrichtingen": [
                        {
                          "lijnNummerPubliek": "335",
                          "entiteitnummer": "3",
                          "lijnnummer": "335",
                          "richting": "HEEN",
                          "omschrijving": "Leuven - Aarschot",
                          "bestemming": "LEUVEN GASTHUISB.",
                          "kleurVoorGrond": "#FFFFFF",
                          "kleurAchterGrond": "#991199",
                          "kleurAchterGrondRand": "#991199",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "haltes": [
                        {
                          "entiteitnummer": "3",
                          "haltenummer": "303980",
                          "omschrijving": "Gilsonplein",
                          "gemeentenummer": 57,
                          "omschrijvingGemeente": "Leuven",
                          "districtCode": "GRI",
                          "geoCoordinaat": "50.98145261213046,4.823559183763914",
                          "halteToegankelijkheden": "VISUELE_BEPERKING",
                          "hoofdHalte": true,
                          "taal": "N",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "referentieOmleiding": 0,
                      "type": "string",
                      "omleidingsDagen": [
                        "string"
                      ],
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ],
                  "storingen": [
                    {
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "omschrijving": "Periode : ... Niet-bediende haltes : ... vervanghaltes: ...",
                      "periode": {
                        "startDatum": "string",
                        "eindDatum": "string"
                      },
                      "lijnrichtingen": [
                        {
                          "lijnNummerPubliek": "335",
                          "entiteitnummer": "3",
                          "lijnnummer": "335",
                          "richting": "HEEN",
                          "omschrijving": "Leuven - Aarschot",
                          "bestemming": "LEUVEN GASTHUISB.",
                          "kleurVoorGrond": "#FFFFFF",
                          "kleurAchterGrond": "#991199",
                          "kleurAchterGrondRand": "#991199",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "haltes": [
                        {
                          "entiteitnummer": "3",
                          "haltenummer": "303980",
                          "omschrijving": "Gilsonplein",
                          "gemeentenummer": 57,
                          "omschrijvingGemeente": "Leuven",
                          "districtCode": "GRI",
                          "geoCoordinaat": "50.98145261213046,4.823559183763914",
                          "halteToegankelijkheden": "VISUELE_BEPERKING",
                          "hoofdHalte": true,
                          "taal": "N",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "referentieOmleiding": 0,
                      "type": "string",
                      "omleidingsDagen": [
                        "string"
                      ],
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/haltes/{entiteitnummer}/{haltenummer}/dienstregelingen": {
      "get": {
        "tags": [
          "haltes"
        ],
        "summary": "geef de dienstregeling voor de opgegeven halte",
        "operationId": "geefDienstregelingVoorHalte",
        "parameters": [
          {
            "name": "entiteitnummer",
            "in": "path",
            "description": "Format - int32. nummer van de entiteit",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "haltenummer",
            "in": "path",
            "description": "Format - int32. nummer van de halte",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "datum",
            "in": "query",
            "description": "datum in formaat yyyy-MM-dd met als default waarde de huidige datum",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inclusiefRitnummer",
            "in": "query",
            "description": "het ritnummer is gewenst in het resultaat (performance impact)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Ritten"
                },
                "example": {
                  "ritDoorkomsten": [
                    {
                      "ritnummer": "44",
                      "bestemming": "ANTWERPEN ROOSEVEL",
                      "vias": "VIA WITGOOR-ARENDO",
                      "doorkomsten": [
                        {
                          "entiteitnummer": "3",
                          "lijnnummer": 335,
                          "richting": "HEEN",
                          "ritnummer": "string",
                          "bestemming": "ANTWERPEN ROOSEVEL",
                          "vias": "VIA WITGOOR-ARENDO",
                          "haltenummer": "303980",
                          "dienstregelingTijdstip": "2016-09-13T06:05:00.0000000+00:00",
                          "real-timeTijdstip": "2016-09-13T06:05:00.0000000+00:00",
                          "vrtnum": "521684",
                          "predictionStatussen": "REALTIME",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ],
                  "doorkomstNotas": [
                    {
                      "id": 30506,
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "ritnummer": "44",
                      "haltenummer": 303980,
                      "omschrijving": "Rijdt via Genk St-Lodewijkstraat 12u13 en Genk Campus Bret 12u14.",
                      "entiteitnummer": 3,
                      "lijnnummer": 335,
                      "richting": "HEEN"
                    }
                  ],
                  "ritNotas": [
                    {
                      "id": 30506,
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "ritnummer": "44",
                      "haltenummer": 303980,
                      "omschrijving": "Rijdt via Genk St-Lodewijkstraat 12u13 en Genk Campus Bret 12u14.",
                      "entiteitnummer": 3,
                      "lijnnummer": 335,
                      "richting": "HEEN"
                    }
                  ],
                  "omleidingen": [
                    {
                      "id": 30506,
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "ritnummer": "44",
                      "haltenummer": 303980,
                      "omschrijving": "Rijdt via Genk St-Lodewijkstraat 12u13 en Genk Campus Bret 12u14.",
                      "entiteitnummer": 3,
                      "lijnnummer": 335,
                      "richting": "HEEN"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/haltes/{entiteitnummer}/{haltenummer}/lijnrichtingen": {
      "get": {
        "tags": [
          "haltes"
        ],
        "summary": "geef de lijnrichtingen die de opgegeven halte bedienen",
        "operationId": "geefLijnrichtingenVoorHalte",
        "parameters": [
          {
            "name": "entiteitnummer",
            "in": "path",
            "description": "Format - int32. nummer van de entiteit",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "haltenummer",
            "in": "path",
            "description": "Format - int32. nummer van de halte",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Lijnrichtingen"
                },
                "example": {
                  "lijnrichtingen": [
                    {
                      "lijnNummerPubliek": "335",
                      "entiteitnummer": "3",
                      "lijnnummer": "335",
                      "richting": "HEEN",
                      "omschrijving": "Leuven - Aarschot",
                      "bestemming": "LEUVEN GASTHUISB.",
                      "kleurVoorGrond": "#FFFFFF",
                      "kleurAchterGrond": "#991199",
                      "kleurAchterGrondRand": "#991199",
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/haltes/{entiteitnummer}/{haltenummer}/omleidingen": {
      "get": {
        "tags": [
          "haltes"
        ],
        "summary": "geef de omleidingen voor de opgegeven halte",
        "operationId": "geefOmleidingenVoorHalte",
        "parameters": [
          {
            "name": "entiteitnummer",
            "in": "path",
            "description": "Format - int32. nummer van de entiteit",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "haltenummer",
            "in": "path",
            "description": "Format - int32. nummer van de halte",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "datum",
            "in": "query",
            "description": "datum in formaat yyyy-MM-dd met als default waarde de huidige datum",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Omleidingen"
                },
                "example": {
                  "omleidingen": [
                    {
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "omschrijving": "Periode : ... Niet-bediende haltes : ... vervanghaltes: ...",
                      "periode": {
                        "startDatum": "string",
                        "eindDatum": "string"
                      },
                      "lijnrichtingen": [
                        {
                          "lijnNummerPubliek": "335",
                          "entiteitnummer": "3",
                          "lijnnummer": "335",
                          "richting": "HEEN",
                          "omschrijving": "Leuven - Aarschot",
                          "bestemming": "LEUVEN GASTHUISB.",
                          "kleurVoorGrond": "#FFFFFF",
                          "kleurAchterGrond": "#991199",
                          "kleurAchterGrondRand": "#991199",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "haltes": [
                        {
                          "entiteitnummer": "3",
                          "haltenummer": "303980",
                          "omschrijving": "Gilsonplein",
                          "gemeentenummer": 57,
                          "omschrijvingGemeente": "Leuven",
                          "districtCode": "GRI",
                          "geoCoordinaat": "50.98145261213046,4.823559183763914",
                          "halteToegankelijkheden": "VISUELE_BEPERKING",
                          "hoofdHalte": true,
                          "taal": "N",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "referentieOmleiding": 0,
                      "type": "string",
                      "omleidingsDagen": [
                        "string"
                      ],
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ],
                  "storingen": [
                    {
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "omschrijving": "Periode : ... Niet-bediende haltes : ... vervanghaltes: ...",
                      "periode": {
                        "startDatum": "string",
                        "eindDatum": "string"
                      },
                      "lijnrichtingen": [
                        {
                          "lijnNummerPubliek": "335",
                          "entiteitnummer": "3",
                          "lijnnummer": "335",
                          "richting": "HEEN",
                          "omschrijving": "Leuven - Aarschot",
                          "bestemming": "LEUVEN GASTHUISB.",
                          "kleurVoorGrond": "#FFFFFF",
                          "kleurAchterGrond": "#991199",
                          "kleurAchterGrondRand": "#991199",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "haltes": [
                        {
                          "entiteitnummer": "3",
                          "haltenummer": "303980",
                          "omschrijving": "Gilsonplein",
                          "gemeentenummer": 57,
                          "omschrijvingGemeente": "Leuven",
                          "districtCode": "GRI",
                          "geoCoordinaat": "50.98145261213046,4.823559183763914",
                          "halteToegankelijkheden": "VISUELE_BEPERKING",
                          "hoofdHalte": true,
                          "taal": "N",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "referentieOmleiding": 0,
                      "type": "string",
                      "omleidingsDagen": [
                        "string"
                      ],
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/haltes/{entiteitnummer}/{haltenummer}/real-time": {
      "get": {
        "tags": [
          "haltes"
        ],
        "summary": "geef de real-time doorkomsten voor de opgegeven halte",
        "operationId": "geefDoorkomstenVoorHalte",
        "parameters": [
          {
            "name": "entiteitnummer",
            "in": "path",
            "description": "Format - int32. nummer van de entiteit",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "haltenummer",
            "in": "path",
            "description": "Format - int32. nummer van de halte",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "maxAantalDoorkomsten",
            "in": "query",
            "description": "Format - int32. maximaal aantal doorkomsten voor de opgegeven halte",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Ritten"
                },
                "example": {
                  "ritDoorkomsten": [
                    {
                      "ritnummer": "44",
                      "bestemming": "ANTWERPEN ROOSEVEL",
                      "vias": "VIA WITGOOR-ARENDO",
                      "doorkomsten": [
                        {
                          "entiteitnummer": "3",
                          "lijnnummer": 335,
                          "richting": "HEEN",
                          "ritnummer": "string",
                          "bestemming": "ANTWERPEN ROOSEVEL",
                          "vias": "VIA WITGOOR-ARENDO",
                          "haltenummer": "303980",
                          "dienstregelingTijdstip": "2016-09-13T06:05:00.0000000+00:00",
                          "real-timeTijdstip": "2016-09-13T06:05:00.0000000+00:00",
                          "vrtnum": "521684",
                          "predictionStatussen": "REALTIME",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ],
                  "doorkomstNotas": [
                    {
                      "id": 30506,
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "ritnummer": "44",
                      "haltenummer": 303980,
                      "omschrijving": "Rijdt via Genk St-Lodewijkstraat 12u13 en Genk Campus Bret 12u14.",
                      "entiteitnummer": 3,
                      "lijnnummer": 335,
                      "richting": "HEEN"
                    }
                  ],
                  "ritNotas": [
                    {
                      "id": 30506,
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "ritnummer": "44",
                      "haltenummer": 303980,
                      "omschrijving": "Rijdt via Genk St-Lodewijkstraat 12u13 en Genk Campus Bret 12u14.",
                      "entiteitnummer": 3,
                      "lijnnummer": 335,
                      "richting": "HEEN"
                    }
                  ],
                  "omleidingen": [
                    {
                      "id": 30506,
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "ritnummer": "44",
                      "haltenummer": 303980,
                      "omschrijving": "Rijdt via Genk St-Lodewijkstraat 12u13 en Genk Campus Bret 12u14.",
                      "entiteitnummer": 3,
                      "lijnnummer": 335,
                      "richting": "HEEN"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/haltes/{entiteitnummer}/{haltenummer}/storingen": {
      "get": {
        "tags": [
          "haltes"
        ],
        "summary": "geef de storingen voor de opgegeven halte",
        "operationId": "geefStoringenVoorHalte",
        "parameters": [
          {
            "name": "entiteitnummer",
            "in": "path",
            "description": "Format - int32. nummer van de entiteit",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "haltenummer",
            "in": "path",
            "description": "Format - int32. nummer van de halte",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "datum",
            "in": "query",
            "description": "datum in formaat yyyy-MM-dd met als default waarde de huidige datum",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Omleidingen"
                },
                "example": {
                  "omleidingen": [
                    {
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "omschrijving": "Periode : ... Niet-bediende haltes : ... vervanghaltes: ...",
                      "periode": {
                        "startDatum": "string",
                        "eindDatum": "string"
                      },
                      "lijnrichtingen": [
                        {
                          "lijnNummerPubliek": "335",
                          "entiteitnummer": "3",
                          "lijnnummer": "335",
                          "richting": "HEEN",
                          "omschrijving": "Leuven - Aarschot",
                          "bestemming": "LEUVEN GASTHUISB.",
                          "kleurVoorGrond": "#FFFFFF",
                          "kleurAchterGrond": "#991199",
                          "kleurAchterGrondRand": "#991199",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "haltes": [
                        {
                          "entiteitnummer": "3",
                          "haltenummer": "303980",
                          "omschrijving": "Gilsonplein",
                          "gemeentenummer": 57,
                          "omschrijvingGemeente": "Leuven",
                          "districtCode": "GRI",
                          "geoCoordinaat": "50.98145261213046,4.823559183763914",
                          "halteToegankelijkheden": "VISUELE_BEPERKING",
                          "hoofdHalte": true,
                          "taal": "N",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "referentieOmleiding": 0,
                      "type": "string",
                      "omleidingsDagen": [
                        "string"
                      ],
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ],
                  "storingen": [
                    {
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "omschrijving": "Periode : ... Niet-bediende haltes : ... vervanghaltes: ...",
                      "periode": {
                        "startDatum": "string",
                        "eindDatum": "string"
                      },
                      "lijnrichtingen": [
                        {
                          "lijnNummerPubliek": "335",
                          "entiteitnummer": "3",
                          "lijnnummer": "335",
                          "richting": "HEEN",
                          "omschrijving": "Leuven - Aarschot",
                          "bestemming": "LEUVEN GASTHUISB.",
                          "kleurVoorGrond": "#FFFFFF",
                          "kleurAchterGrond": "#991199",
                          "kleurAchterGrondRand": "#991199",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "haltes": [
                        {
                          "entiteitnummer": "3",
                          "haltenummer": "303980",
                          "omschrijving": "Gilsonplein",
                          "gemeentenummer": 57,
                          "omschrijvingGemeente": "Leuven",
                          "districtCode": "GRI",
                          "geoCoordinaat": "50.98145261213046,4.823559183763914",
                          "halteToegankelijkheden": "VISUELE_BEPERKING",
                          "hoofdHalte": true,
                          "taal": "N",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "referentieOmleiding": 0,
                      "type": "string",
                      "omleidingsDagen": [
                        "string"
                      ],
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "omleiding is niet gevonden",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/kleuren": {
      "get": {
        "tags": [
          "lijnkleuren"
        ],
        "summary": "geef alle lijnkleuren",
        "operationId": "geefLijnkleuren",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Lijnkleuren"
                },
                "example": {
                  "kleuren": [
                    {
                      "code": "ZW",
                      "omschrijving": "Zwart",
                      "rgb": "000",
                      "hex": "000000",
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/kleuren/{code}": {
      "get": {
        "tags": [
          "lijnkleuren"
        ],
        "summary": "geef een lijnkleur op basis van de opgegeven code",
        "operationId": "geefLijnkleurcode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "code van de lijnkleur",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Lijnkleur"
                },
                "example": {
                  "code": "ZW",
                  "omschrijving": "Zwart",
                  "rgb": "000",
                  "hex": "000000",
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "lijnkleur is niet gevonden",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/lijnen/lijst/{lijnrichtingsleutels}/omleidingen": {
      "get": {
        "tags": [
          "lijnen"
        ],
        "summary": "geef de omleidingen voor de opgegeven lijst van lijnrichtingen",
        "operationId": "geefGeplandeStoringenVoorLijnrichtingenLijst",
        "parameters": [
          {
            "name": "lijnrichtingsleutels",
            "in": "path",
            "description": "lijst van lijnrichtingen (bv 1_500_HEEN_1_550_TERUG)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datum",
            "in": "query",
            "description": "datum in formaat yyyy-MM-dd met als default waarde de huidige datum",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Omleidingen"
                },
                "example": {
                  "omleidingen": [
                    {
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "omschrijving": "Periode : ... Niet-bediende haltes : ... vervanghaltes: ...",
                      "periode": {
                        "startDatum": "string",
                        "eindDatum": "string"
                      },
                      "lijnrichtingen": [
                        {
                          "lijnNummerPubliek": "335",
                          "entiteitnummer": "3",
                          "lijnnummer": "335",
                          "richting": "HEEN",
                          "omschrijving": "Leuven - Aarschot",
                          "bestemming": "LEUVEN GASTHUISB.",
                          "kleurVoorGrond": "#FFFFFF",
                          "kleurAchterGrond": "#991199",
                          "kleurAchterGrondRand": "#991199",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "haltes": [
                        {
                          "entiteitnummer": "3",
                          "haltenummer": "303980",
                          "omschrijving": "Gilsonplein",
                          "gemeentenummer": 57,
                          "omschrijvingGemeente": "Leuven",
                          "districtCode": "GRI",
                          "geoCoordinaat": "50.98145261213046,4.823559183763914",
                          "halteToegankelijkheden": "VISUELE_BEPERKING",
                          "hoofdHalte": true,
                          "taal": "N",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "referentieOmleiding": 0,
                      "type": "string",
                      "omleidingsDagen": [
                        "string"
                      ],
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ],
                  "storingen": [
                    {
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "omschrijving": "Periode : ... Niet-bediende haltes : ... vervanghaltes: ...",
                      "periode": {
                        "startDatum": "string",
                        "eindDatum": "string"
                      },
                      "lijnrichtingen": [
                        {
                          "lijnNummerPubliek": "335",
                          "entiteitnummer": "3",
                          "lijnnummer": "335",
                          "richting": "HEEN",
                          "omschrijving": "Leuven - Aarschot",
                          "bestemming": "LEUVEN GASTHUISB.",
                          "kleurVoorGrond": "#FFFFFF",
                          "kleurAchterGrond": "#991199",
                          "kleurAchterGrondRand": "#991199",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "haltes": [
                        {
                          "entiteitnummer": "3",
                          "haltenummer": "303980",
                          "omschrijving": "Gilsonplein",
                          "gemeentenummer": 57,
                          "omschrijvingGemeente": "Leuven",
                          "districtCode": "GRI",
                          "geoCoordinaat": "50.98145261213046,4.823559183763914",
                          "halteToegankelijkheden": "VISUELE_BEPERKING",
                          "hoofdHalte": true,
                          "taal": "N",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "referentieOmleiding": 0,
                      "type": "string",
                      "omleidingsDagen": [
                        "string"
                      ],
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/lijnen/lijst/{lijnrichtingsleutels}/storingen": {
      "get": {
        "tags": [
          "lijnen"
        ],
        "summary": "geef de storingen voor de opgegeven lijst van lijnrichtingen",
        "operationId": "geefOnGeplandeStoringenVoorLijnrichtingenLijst",
        "parameters": [
          {
            "name": "lijnrichtingsleutels",
            "in": "path",
            "description": "lijst van lijnrichtingen (bv 1_500_HEEN_1_550_TERUG)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datum",
            "in": "query",
            "description": "datum in formaat yyyy-MM-dd met als default waarde de huidige datum",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Omleidingen"
                },
                "example": {
                  "omleidingen": [
                    {
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "omschrijving": "Periode : ... Niet-bediende haltes : ... vervanghaltes: ...",
                      "periode": {
                        "startDatum": "string",
                        "eindDatum": "string"
                      },
                      "lijnrichtingen": [
                        {
                          "lijnNummerPubliek": "335",
                          "entiteitnummer": "3",
                          "lijnnummer": "335",
                          "richting": "HEEN",
                          "omschrijving": "Leuven - Aarschot",
                          "bestemming": "LEUVEN GASTHUISB.",
                          "kleurVoorGrond": "#FFFFFF",
                          "kleurAchterGrond": "#991199",
                          "kleurAchterGrondRand": "#991199",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "haltes": [
                        {
                          "entiteitnummer": "3",
                          "haltenummer": "303980",
                          "omschrijving": "Gilsonplein",
                          "gemeentenummer": 57,
                          "omschrijvingGemeente": "Leuven",
                          "districtCode": "GRI",
                          "geoCoordinaat": "50.98145261213046,4.823559183763914",
                          "halteToegankelijkheden": "VISUELE_BEPERKING",
                          "hoofdHalte": true,
                          "taal": "N",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "referentieOmleiding": 0,
                      "type": "string",
                      "omleidingsDagen": [
                        "string"
                      ],
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ],
                  "storingen": [
                    {
                      "titel": "Antwerpen: Werken Brabo 2 Fr. Rooseveltplaats Werken",
                      "omschrijving": "Periode : ... Niet-bediende haltes : ... vervanghaltes: ...",
                      "periode": {
                        "startDatum": "string",
                        "eindDatum": "string"
                      },
                      "lijnrichtingen": [
                        {
                          "lijnNummerPubliek": "335",
                          "entiteitnummer": "3",
                          "lijnnummer": "335",
                          "richting": "HEEN",
                          "omschrijving": "Leuven - Aarschot",
                          "bestemming": "LEUVEN GASTHUISB.",
                          "kleurVoorGrond": "#FFFFFF",
                          "kleurAchterGrond": "#991199",
                          "kleurAchterGrondRand": "#991199",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "haltes": [
                        {
                          "entiteitnummer": "3",
                          "haltenummer": "303980",
                          "omschrijving": "Gilsonplein",
                          "gemeentenummer": 57,
                          "omschrijvingGemeente": "Leuven",
                          "districtCode": "GRI",
                          "geoCoordinaat": "50.98145261213046,4.823559183763914",
                          "halteToegankelijkheden": "VISUELE_BEPERKING",
                          "hoofdHalte": true,
                          "taal": "N",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ],
                      "referentieOmleiding": 0,
                      "type": "string",
                      "omleidingsDagen": [
                        "string"
                      ],
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/lijnen/lijst/{lijnsleutels}": {
      "get": {
        "tags": [
          "lijnen"
        ],
        "summary": "geef een lijst van lijnen op basis van een lijst van lijn sleutels",
        "operationId": "geefLijnLijst",
        "parameters": [
          {
            "name": "lijnsleutels",
            "in": "path",
            "description": "lijst van lijn sleutels (bv 1_500_1_550)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Lijnen"
                },
                "example": {
                  "lijnen": [
                    {
                      "entiteitnummer": "3",
                      "lijnnummer": "335",
                      "lijnnummerPubliek": "335",
                      "omschrijving": "Leuven - Aarschot",
                      "vervoerRegioCode": "VR",
                      "publiek": true,
                      "vervoertype": "METRO",
                      "bedieningtype": "BELBUS",
                      "lijnGeldigVan": "2016-08-31",
                      "lijnGeldigTot": "2016-10-30",
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/lijnen/lijst/{lijnsleutels}/lijnkleuren": {
      "get": {
        "tags": [
          "lijnen"
        ],
        "summary": "geef de lijnkleuren van lijnen op basis van een lijst van lijn sleutels",
        "operationId": "geefLijnkleurLijst",
        "parameters": [
          {
            "name": "lijnsleutels",
            "in": "path",
            "description": "lijst van lijn sleutels (bv 1_500_1_550)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/LijnkleurCodes"
                },
                "example": {
                  "voorgrond": {
                    "code": "string",
                    "links": [
                      {
                        "rel": "string",
                        "url": "string"
                      }
                    ]
                  },
                  "achtergrond": {
                    "code": "string",
                    "links": [
                      {
                        "rel": "string",
                        "url": "string"
                      }
                    ]
                  },
                  "voorgrondRand": {
                    "code": "string",
                    "links": [
                      {
                        "rel": "string",
                        "url": "string"
                      }
                    ]
                  },
                  "achtergrondRand": {
                    "code": "string",
                    "links": [
                      {
                        "rel": "string",
                        "url": "string"
                      }
                    ]
                  },
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/lijnen/lijst/{lijnsleutels}/lijnrichtingen": {
      "get": {
        "tags": [
          "lijnen"
        ],
        "summary": "geef de lijnrichtingen van lijnen op basis van een lijst van lijn sleutels",
        "operationId": "geefLijnrichtingenLijst",
        "parameters": [
          {
            "name": "lijnsleutels",
            "in": "path",
            "description": "lijst van lijn sleutels (bv 1_500_1_550)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/LijnLijnrichtingenLijst"
                },
                "example": {
                  "lijnLijnrichtingen": [
                    {
                      "lijn": {
                        "entiteitnummer": "3",
                        "lijnnummer": "335",
                        "lijnnummerPubliek": "335",
                        "omschrijving": "Leuven - Aarschot",
                        "vervoerRegioCode": "VR",
                        "publiek": true,
                        "vervoertype": "METRO",
                        "bedieningtype": "BELBUS",
                        "lijnGeldigVan": "2016-08-31",
                        "lijnGeldigTot": "2016-10-30",
                        "links": [
                          {
                            "rel": "string",
                            "url": "string"
                          }
                        ]
                      },
                      "lijnrichtingen": [
                        {
                          "lijnNummerPubliek": "335",
                          "entiteitnummer": "3",
                          "lijnnummer": "335",
                          "richting": "HEEN",
                          "omschrijving": "Leuven - Aarschot",
                          "bestemming": "LEUVEN GASTHUISB.",
                          "kleurVoorGrond": "#FFFFFF",
                          "kleurAchterGrond": "#991199",
                          "kleurAchterGrondRand": "#991199",
                          "links": [
                            {
                              "rel": "string",
                              "url": "string"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/lijnen/{entiteitnummer}/{lijnnummer}": {
      "get": {
        "tags": [
          "lijnen"
        ],
        "summary": "geef een lijn op basis van het opgegeven lijnnummer",
        "operationId": "geefLijn",
        "parameters": [
          {
            "name": "entiteitnummer",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lijnnummer",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "request met succes afgehandeld",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Lijn"
                },
                "example": {
                  "entiteitnummer": "3",
                  "lijnnummer": "335",
                  "lijnnummerPubliek": "335",
                  "omschrijving": "Leuven - Aarschot",
                  "vervoerRegioCode": "VR",
                  "publiek": true,
                  "vervoertype": "METRO",
                  "bedieningtype": "BELBUS",
                  "lijnGeldigVan": "2016-08-31",
                  "lijnGeldigTot": "2016-10-30",
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "lijn is niet gevonden",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/lijnen/{entiteitnummer}/{lijnnummer}/gemeenten": {
      "get": {
        "tags": [
          "lijnen"
        ],
        "summary": "geef de gemeenten die bediend worden voor de opgegeven lijn",
        "operationId": "geefGemeentenVoorLijn",
        "parameters": [
          {
            "name": "entiteitnummer",
            "in": "path",
            "description": "Format - int32. nummer van de entiteit",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lijnnummer",
            "in": "path",
            "description": "Format - int32. nummer van de lijn",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Gemeenten"
                }
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar",
            "content": {
              "application/json;charset=UTF-8": { }
            }
          }
        }
      }
    },
    "/lijnen/{entiteitnummer}/{lijnnummer}/lijnkleuren": {
      "get": {
        "tags": [
          "lijnen"
        ],
        "summary": "geef de lijnkleuren voor het opgegeven lijnnummer",
        "operationId": "geefLijnkleur",
        "parameters": [
          {
            "name": "entiteitnummer",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lijnnummer",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/LijnkleurCodes"
                },
                "example": {
                  "voorgrond": {
                    "code": "string",
                    "links": [
                      {
                        "rel": "string",
                        "url": "string"
                      }
                    ]
                  },
                  "achtergrond": {
                    "code": "string",
                    "links": [
                      {
                        "rel": "string",
                        "url": "string"
                      }
                    ]
                  },
                  "voorgrondRand": {
                    "code": "string",
                    "links": [
                      {
                        "rel": "string",
                        "url": "string"
                      }
                    ]
                  },
                  "achtergrondRand": {
                    "code": "string",
                    "links": [
                      {
                        "rel": "string",
                        "url": "string"
                      }
                    ]
                  },
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/lijnen/{entiteitnummer}/{lijnnummer}/lijnrichtingen": {
      "get": {
        "tags": [
          "lijnen"
        ],
        "summary": "geef de lijnrichtingen voor het opgegeven lijnnummer",
        "operationId": "geefLijnrichtingen",
        "parameters": [
          {
            "name": "entiteitnummer",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lijnnummer",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Lijnrichtingen"
                },
                "example": {
                  "lijnrichtingen": [
                    {
                      "lijnNummerPubliek": "335",
                      "entiteitnummer": "3",
                      "lijnnummer": "335",
                      "richting": "HEEN",
                      "omschrijving": "Leuven - Aarschot",
                      "bestemming": "LEUVEN GASTHUISB.",
                      "kleurVoorGrond": "#FFFFFF",
                      "kleurAchterGrond": "#991199",
                      "kleurAchterGrondRand": "#991199",
                      "links": [
                        {
                          "rel": "string",
                          "url": "string"
                        }
                      ]
                    }
                  ],
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/lijnen/{entiteitnummer}/{lijnnummer}/lijnrichtingen/{richting}": {
      "get": {
        "tags": [
          "lijnen"
        ],
        "summary": "geef een lijnrichting voor de opgegeven lijnrichtingcode",
        "operationId": "geefLijnrichting",
        "parameters": [
          {
            "name": "entiteitnummer",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lijnnummer",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "richting",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "HEEN",
                "TERUG"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Lijnrichting"
                },
                "example": {
                  "lijnNummerPubliek": "335",
                  "entiteitnummer": "3",
                  "lijnnummer": "335",
                  "richting": "HEEN",
                  "omschrijving": "Leuven - Aarschot",
                  "bestemming": "LEUVEN GASTHUISB.",
                  "kleurVoorGrond": "#FFFFFF",
                  "kleurAchterGrond": "#991199",
                  "kleurAchterGrondRand": "#991199",
                  "links": [
                    {
                      "rel": "string",
                      "url": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/lijnen/{entiteitnummer}/{lijnnummer}/lijnrichtingen/{richting}/dienstregelingen": {
      "get": {
        "tags": [
          "lijnen"
        ],
        "summary": "geef de dienstregeling voor de opgegeven lijnrichting",
        "operationId": "geefDienstregelingVoorLijnrichting",
        "parameters": [
          {
            "name": "entiteitnummer",
            "in": "path",
            "description": "Format - int32. nummer van de entiteit",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lijnnummer",
            "in": "path",
            "description": "Format - int32. nummer van de lijn",
[...]
